#login-form(layout='row')
    div(flex)
    form(flex='33', layout='column', layout-align='center center', layout-padding, md-whiteframe='10')
        md-input-container(layout-fill)
            label Login
            input(ng-model='user.email', placeholder='Enter your login')
        md-input-container(layout-fill)
            label Password
            input(ng-model='user.password', type='password', placeholder='Enter your password')
        md-button.md-raised(ng-click='signin(user)') Singin
    div(flex)