#main-menu(layout='column')
    .menu-item(flex, layout, layout-align='center center')
        a(ui-sref='main.home') Home
    .menu-item(flex, layout, layout-align='center center')
        a(ui-sref='main.users') Users
    .menu-item(flex, layout, layout-align='center center')
        a(ui-sref='main.payments') Payments
    .menu-item.menu-bottom-item(flex, layout, layout-align='center center')
        a(ui-sref='main.sharesFiles') Shares&files