#main-menu
    md-list(layout='column', layout-align='center center')
        md-list-item
            md-button.md-raised(ui-sref='main.home') Home
        md-list-item
            md-button.md-raised(ui-sref='main.users') Users
        md-list-item
            md-button.md-raised(ui-sref='main.payments') Payments
        md-list-item
            md-button.md-raised(ui-sref='main.sharesFiles') Shares&files